
# Server Configuration
PORT=3001
NODE_ENV=development

# ==========================
# UrbaneBolt API
# ==========================
URBANEBOLT_BASE_URL=https://uat.urbanebolt.in 
URBANEBOLT_USERNAME=YOUR_USERNAME
URBANEBOLT_PASSWORD=YOUR_PASSWORD
URBANEBOLT_CUSTOMER_CODE=UEBCUS0008

# ==========================
# Data Base Url
# ==========================
MONGODB_URL = mongodb://localhost:27017

